<!-- <p id="notice"><%= notice %></p> -->
<table>
  <thead>
    <tr>
      <th>Flight number</th>
      <th>Date</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Plane</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
        <td><%= @flight.flight_number %></td>
        <td><%= @flight.date %></td>
        <td><%= @flight.origin %></td>
        <td><%= @flight.destination %></td>
        <td><%= @flight.plane_id %></td>
      </tr>
  </tbody>
</table>
<script type="html/template" id="appViewTemplate"></script>
<table>
  <thead>
    <tr>
      <th>col11</th>
      <th>col12</th>
      <th>col13</th>
    </tr>
    <tr>
      <th>col21</th>
      <th>col22</th>
      <th>col23</th>
    </tr>
    <tr>
      <th>col31</th>
      <th>col32</th>
      <th>col33</th>
    </tr>
  </thead>
<%= link_to 'Back', flights_path %>
