<!-- <p id="notice"><%= notice %></p> -->
<table>
  <thead>
    <tr>
      <th>Flight number</th>
      <th>Date</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Plane</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
        <td><%= @flight.flight_number %></td>
        <td><%= @flight.date %></td>
        <td><%= @flight.origin %></td>
        <td><%= @flight.destination %></td>
        <td><%= @flight.plane_id %></td>
      </tr>
  </tbody>
</table>
<%= link_to 'Back', flights_path %>
<div class="app">
  <script type="html/template" id="selectSeat">
<table>
  <tr>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
  </tr>
</table>
  </script>
  <script type="html/template" id="resultBooking">
  <hr>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Flight Number</th>
        <th>Row</th>
        <th>Column</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  //   <tbody>
  //     <% @flight.bookings.each do |booking| %>
  //       <th><%= booking.user.name %></p>
  //         <th><%= booking.flight.flight_number %></p>
  //       <th><%= booking.row %></p>
  //       <th><%= booking.column %></p>
  //     <% end %>
  //   </tbody>
  // </table>
  </script>
</div>
