<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @booking.flight_id %>
</p>

<p>
  <strong>Row:</strong>
  <%= @booking.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @booking.column %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
