<!DOCTYPE html>
<html>
  <head>
    <title>Airline</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <%= link_to 'Home', flights_path %>
      <%= link_to 'Plane', planes_path %>
      <%= link_to 'User', users_path %>
      <%= link_to 'Booking', bookings_path %>
      <% if @current_user.present? %>
        <%= link_to("Log Out : #{@current_user.name} " , logout_path(), :method => :delete )%>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
